* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #e6e6e6;
  font-size: 1em;
}

html, body {
  height: 100%;
}

body {
  background: #e6e6e6;
}

@keyframes AnimateMalatesta {
  0% {
    transform: translateY(0px);
    transform: rotateY(0deg);
    letter-spacing: 7px;
    font-size: 2em;
    color: whitesmoke;
  }
  25% {
    transform: translateY(-15px);
    transform: rotateY(90deg);
    letter-spacing: 8px;
    font-size: 2.3em;
  }
  50% {
    transform: translateY(-30px);
    transform: rotateY(180deg);
    letter-spacing: 10px;
    font-size: 2.5em;
    color: black;
  }
  100% {
    transform: rotateY(0deg);
    letter-spacing: 7px;
    font-size: 2em;
  }
}
button {
  background: #f7ede3;
  color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:hover {
  transition: 0.25s ease-in-out;
  transform: translateY(-5px);
}

footer {
  background: #f5bd60;
  height: 114px;
  width: 100%;
}
footer p {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 2em;
}
footer p:hover {
  transition: 1s ease-in-out;
  animation: AnimateMalatesta 1s ease-in-out;
}

.tomarPantalla {
  position: absolute;
  background: #f7ede3;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#cookies {
  background: #f7ede3;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 50%;
}
#cookies p {
  border-radius: 10px;
  height: 100px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #f5bd60;
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
}
#cookies div {
  border-radius: 10px;
  background: #f5bd60;
  height: 100px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
#cookies div button {
  border-radius: 10px;
  background: #f7ede3;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-transform: capitalize;
}
#cookies div button a {
  text-decoration: none;
  color: black;
}

#time {
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1em;
  color: whitesmoke;
  letter-spacing: 3px;
}
#time p {
  background: #84a59e;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding-left: 30px;
}
#time :nth-child(2n) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.comp {
  height: 90%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  margin: 0 auto;
}

.divClose {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}

#close {
  margin-right: 1%;
  height: 50px;
  width: 50px;
  font-size: 1em;
}

#pago {
  background: #f28582;
  height: 95%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
  border-radius: 10px;
  border: 1px solid #000000;
}
#pago p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 1em;
  text-transform: capitalize;
  height: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#pago img {
  height: 300px;
  width: 250px;
}

#contenedor {
  min-height: 750px;
  width: 100%;
}

.generacionPedido {
  width: 90%;
  margin: 0 auto;
}

#botones {
  border-radius: 10px 10px 0px 0px;
  background: #84a59e;
  margin: 0 auto;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
#botones button {
  margin: 30px;
  border-radius: 10px;
  height: 50px;
  width: 30%;
}

#gustos {
  border-radius: 0px 0px 10px 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #f7ede3;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
#gustos li {
  font-size: 1em;
  text-shadow: 1px 1px 1px #000000;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-transform: capitalize;
}
#gustos li:nth-child(2n-1) {
  background: #f5cac2;
}
#gustos li:nth-child(2n) {
  background: #f28582;
}
#gustos li h4 {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  text-transform: capitalize;
}
#gustos li h4::before {
  content: " - ";
}
#gustos li p {
  font-size: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-transform: capitalize;
}
#gustos li button {
  font-size: 1em;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px;
}
#gustos li button:hover {
  transition: 0.25s ease-in-out;
  transform: translateX(0);
}

.continuar {
  margin-bottom: 10px;
  width: 90%;
  margin: 0 auto;
}

.tittle {
  border-radius: 10px 10px 0px 0px;
  background: #84a59e;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#pedido {
  margin: 0;
  background-color: #f7ede3;
}
#pedido li {
  text-shadow: 1px 1px 1px #000000;
  border-radius: 10px;
  padding-left: 5px;
  height: 10%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
#pedido li:nth-child(2n-1) {
  background: #f5cac2;
}
#pedido li:nth-child(2n) {
  background: #f28582;
}
#pedido li h4::before {
  content: " -  ";
}
#pedido li p {
  padding-right: 30px;
}

.botoneraytotal {
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: #84a59e;
}

#total {
  margin: 0 auto;
  letter-spacing: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 2em;
  height: 50%;
  width: auto;
}

#next {
  height: 40%;
  width: 20%;
  margin: 0 auto;
  font-size: 1em;
  text-transform: capitalize;
}

#contener {
  height: 800px;
  width: 100%;
  flex: 1;
}

.contenedor-log {
  align-items: center;
  display: flex;
  align-items: bottom;
  justify-content: center;
  flex-direction: column;
}

#botones-registro {
  margin-top: 50px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

#textbox-registro {
  gap: 30px;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#textbox-registro input {
  border-radius: 5px;
  color: black;
  height: 50px;
  width: 350px;
}

#mostrarError {
  height: 50px;
  width: 100%;
  color: red;
  font-size: 1.5em;
  text-transform: capitalize;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#ingresar,
#registro,
.volver {
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

.imagenEmpanada {
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.imagenEmpanada img {
  height: 600px;
  width: 600px;
  border-radius: 10px;
}

.rowgeris {
  height: 100%;
}

#formRegistrer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#formRegistrer p {
  color: black;
  margin-top: 5px;
}
#formRegistrer input {
  border-radius: 5px;
  margin-top: 15px;
  color: black;
  height: 50px;
  width: 300px;
}

.botonera-regis {
  height: 150px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.botonera-regis button {
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

.contenedor-pago {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  height: 810px;
  width: 90%;
}
.contenedor-pago div {
  padding: 10px;
  height: 90%;
}

.izq {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background: #f28582;
}
.izq p {
  padding-top: 10px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 40%;
  width: 75%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 0 0 0 0;
}
.izq div {
  height: 20%;
  width: 75%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.izq div button {
  height: 50px;
  width: 200px;
  font-size: 1em;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 0 0 0 0;
}

.der {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  background: #f5cac2;
}
.der img {
  height: 70%;
  width: 50%;
  aspect-ratio: 1/1;
}
.der img:hover {
  animation: 1s infinite ease-in-out bounce;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media (max-width: 1400px) {
  #gustos li h4 {
    font-size: 1.1em;
  }
  #gustos li p {
    font-size: 1.1em;
  }
  #pedido li h4 {
    font-size: 1.1em;
  }
  #pedido li p {
    font-size: 1.1em;
  }
  .izq {
    height: 100%;
    width: 80%;
  }
  .izq p {
    font-size: 1.5em;
    height: 40%;
    width: 75%;
  }
  .izq div {
    height: 20%;
    width: 100%;
  }
  .izq div button {
    height: 50px;
    width: 150px;
    font-size: 1em;
  }
  .der {
    height: 100%;
    width: 80%;
  }
  .der img {
    height: 80%;
    width: 80%;
  }
}
@media (max-width: 1100px) {
  #gustos li h4 {
    font-size: 1em;
  }
  #gustos li p {
    font-size: 1em;
  }
  #pedido li h4 {
    font-size: 1em;
  }
  #pedido li p {
    font-size: 1em;
  }
  .imagenEmpanada img {
    height: 400px;
    width: 400px;
  }
  .der {
    height: 100%;
    width: 80%;
  }
  .der img {
    height: 70%;
    width: 70%;
  }
}
@media (max-width: 994px) {
  .tittle {
    font-size: 2em;
  }
  #gustos li h4 {
    font-size: 1em;
  }
  #gustos li p {
    font-size: 1em;
  }
  #pedido li h4 {
    font-size: 1em;
  }
  #pedido li p {
    font-size: 1em;
  }
  .botoneraytotal {
    height: 120px;
    width: 100%;
  }
  #total {
    font-size: 2em;
  }
  #next {
    height: 35%;
    width: 20%;
    font-size: 1em;
  }
  .imagenEmpanada img {
    height: 350px;
    width: 350px;
  }
  .izq {
    height: 100%;
    width: 90%;
  }
  .izq p {
    font-size: 1.5em;
    height: 40%;
    width: 75%;
  }
  .izq div {
    height: 20%;
    width: 100%;
  }
  .izq div button {
    height: 50px;
    width: 100px;
    font-size: 0.9em;
  }
  .der {
    height: 100%;
    width: 90%;
  }
  .der img {
    height: 60%;
    width: 80%;
  }
}
@media (max-width: 770px) {
  #time {
    font-size: 0.75em;
  }
  #gustos li h4 {
    font-size: 0.9em;
  }
  #gustos li p {
    font-size: 0.9em;
  }
  #pedido h4 {
    font-size: 1em;
  }
  #pedido p {
    font-size: 1em;
  }
  #contener {
    margin-top: 10px;
    height: 1000px;
    width: 100%;
  }
  .contenedor-pago {
    height: 100%;
  }
  .contenedor-pago div {
    height: 60%;
  }
  .izq {
    width: 90%;
    height: 100%;
  }
  .izq p {
    font-size: 1.1em;
    height: 40%;
    width: 75%;
  }
  .izq div {
    height: 20%;
    width: 100%;
  }
  .izq div button {
    height: 40px;
    width: 80px;
    font-size: 0.8em;
  }
  .der {
    height: 100%;
    width: 90%;
  }
  .der img {
    height: 80%;
    width: 50%;
  }
}
@media (max-width: 640px) {
  #time {
    font-size: 0.6em;
  }
  #botones {
    height: 50px;
    width: 100%;
  }
  #botones button {
    height: 40px;
    width: 40%;
    font-size: 0.8em;
  }
  #gustos li h4 {
    font-size: 0.9em;
  }
  #gustos li p {
    font-size: 0.9em;
  }
  .tittle {
    font-size: 1em;
    height: 50px;
  }
  #pedido li h4 {
    font-size: 0.9em;
    justify-content: start;
  }
  #pedido li p {
    font-size: 0.9em;
  }
  #ingresar,
  #registro,
  .volver {
    height: 50px;
    width: 80px;
    border-radius: 5px;
    font-size: 0.8em;
  }
}
@media (max-width: 490px) {
  #time {
    font-size: 1em;
    height: 75px;
  }
  #gustos li h4 {
    font-size: 0.8em;
  }
  #gustos li p {
    font-size: 0.9em;
  }
  #pedido li h4 {
    font-size: 0.8em;
  }
  #pedido li p {
    font-size: 0.9em;
  }
}
@media (max-width: 400px) {
  #time {
    font-size: 0.8em;
    height: 75px;
  }
  #botones {
    height: 75px;
    width: 100%;
  }
  #botones button {
    height: 50px;
    width: 40%;
    font-size: 0.8em;
  }
  #gustos li h4 {
    font-size: 0.7em;
  }
  #gustos li p {
    font-size: 0.9em;
  }
  #pedido li h4 {
    font-size: 0.7em;
  }
  #pedido li p {
    font-size: 0.9em;
  }
  .botoneraytotal {
    height: 100px;
    width: 100%;
  }
  #total {
    font-size: 1em;
  }
  #next {
    height: 35%;
    width: 30%;
    font-size: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
