footer {
	background: nth($paleta, 5);
	@include tamano(114px, 100%);
	p {
		@include tamano(90%, 100%);
		@include flex(flex, end, center, row);
		color: whitesmoke;
		text-transform: uppercase;
		letter-spacing: 7px;
		font-size: 2em;
	}		
	&:hover {
		p{
			animation: AnimateMalatesta 1.5s ease-in-out;
		}
		}
}
